.app-header{
    display:flex;
    align-self: flex-end;
    padding-inline-end: 5rem;
    padding-block-start: 1.5rem;
    button{
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        border: 0;
        background-color: transparent;
        .placeholder-image{
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2.2rem;
            width: 2.2rem;
            color: white;
            font-size: 1.2rem;
            border-radius: 8px;
            svg{
                pointer-events: none;
            }
        }
        p{
            pointer-events: none;
            font-weight: 700;
        }
        & > svg {
            pointer-events: none;
            position: relative;
            left: 1px;
            font-size: 1.5rem;
        }
    }
}

.dropdown-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0.375rem;
    top: calc(100% + 0.25rem);
    border: 1px solid #E0E0E0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 0.8rem 0.75rem;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-1em);
    transition: 0.2s;
    &.active{
        transform: translateY(0);
        pointer-events: all;
        opacity: 1;
    }
    .dropdown-link{
        display: flex;
        gap: 1em;
        cursor: pointer;
        font-size: 12px;
        padding: 1em 1.2em;
        border-radius: 8px;
        text-align: start;
        transition: 0.2s;
        svg{
            font-size: 16px;
        }
    }
}