@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

html{
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    transition: 0.3s;
}

body > #root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
}

body,button{
    font-family: 'Noto Sans';
}

button{
    cursor: pointer;
}

h1{
    font-size: 2.25rem;
}
h4{
    font-size: 1.125rem;
}



.window{
    position: relative;
    align-self: center;
    height: max-content;
    margin: 2em;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    .text{
        font-size: 14px;
        letter-spacing: -0.035em;
        // color: #828282;
        text-align: center;
        font-size: 0.875rem;
        &.footnote{
            position: absolute;
            bottom: -2.5rem;
            &.credit{
                right:0
            }
            &.creator{
                left: 0;
            }
        }
    }
}


.placeholder-photo{

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    svg{
        font-size: 3rem;
    }
}

button.call-to-action{
    margin-top: 0.5rem;
    font-weight: 600;
    color: white;
    // background-color: #2F80ED;
    border-radius: 8px;
    border: 0;
    padding: 0.6rem;
    line-height: 1.25rem;
}