@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

html{
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    transition: 0.3s;
}

body > #root {
    font-family: 'Noto Sans';
    height: 100vh;
}

.window{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 2em;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
}