.profile-page{
    .profile-header{
        margin: 2rem;
        text-align: center;
    }
    .profile.window{
        display: flex;
        flex-direction: column;
        width: 52.875rem;
        border: 1px solid #E0E0E0;
        border-radius: 12px;
        section{
            display: flex;
            align-items: center;
            padding-inline: 3.125rem;
            min-height: 5rem;
            border-bottom: 1px solid #D3D3D3;
            &.profile-top{
                justify-content: space-between;
                button{
                    border: 1px solid #828282;
                    border-radius: 12px;
                    padding: 0.5rem 2rem;
                    transition: 0.2s;
                    &:hover{
                        box-shadow: 0 0 6px 4px rgba(#BDBDBD, 0.2), inset 0 0 6px 4px rgba(#BDBDBD, 0.8);
                    }
                }
            }
            &:last-of-type{
                border-bottom: none;
            }
            span{
                flex: 1;
                font-size: 13px;
                color: #BDBDBD
            }
            h3{
                flex: 3;
                letter-spacing: -0.035em;
                font-weight: 500;
                font-size: 18px;
            }
        }
    }
}
